* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons {
  display: flex;
  align-items: center;
}

.done {
  text-decoration: line-through;
}
