{% extends "layout.html" %} {% block content %}
<h1>Todo List</h1>

<hr />

<form action="/todos" method="POST" class="mb-5">
  <div class="form-group">
    <label for="content">New Todo</label>
    <input type="text" class="form-control" name="content" id="content" />
  </div>

  <button class="btn btn-success mt-2 mb-2">Add</button>
</form>

{% if data %}

<div class="todos list-group">
  {% for item in data %}
  <div
    class="todo-item list-group-item {% if item[2] == 1 %}{{'text-secondary done'}}{% endif %}"
  >
    <span>{{item[1]}}</span>
    <div class="buttons">
      <form action="/todos/{{item[0]}}" method="GET" style="margin: 2px">
        <input
          type="hidden"
          name="is_completed"
          value="{% if item[2] == 1 %}{{0}}{% else %}{{1}}{% endif %}"
        />
        <button type="submit" class="btn btn-outline-warning">
          {% if item[2] == 1 %} Mark as todo {% else %} Mark as done {% endif %}
        </button>
      </form>
      <form action="/todos/{{item[0]}}" method="POST" style="margin: 2px">
        <button type="submit" class="btn btn-outline-danger">Delete</button>
      </form>
    </div>
  </div>
  {% endfor %}
</div>

{% else %}

<div class="alert alert-info">No todos to show !</div>

{% endif %} {% endblock %}
